<%= form_for @user, url: wizard_path do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
       <h2><%= pluralize(@user.errors.count, error) %>Prohibited this userto be signed!</h2>
       <ul>
         <% @user.errors.full_message.each do |msg| %>
         <li>msg</li>
         <% end %>
       </ul>
    </div>
  <% end %>
  <%= yield f %>
  <div class="actions">
    <%= link_to "preview", previous_wizard_path %>
     <%= f.submit "Continue"  %>
      <%= link_to "skip this step", next_wizard_path %>
  </div>
<% end %>
