<h1>Listing posts</h1>

<table>
  <% if current_user  %>
  <%= link_to "log out", log_out_path %>
  <% else %>
  <%= link_to "log in", log_in_path %>
<% end %>
  <div id="tag_cloud">
    <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
  </tr>
  <tr>
    <td>Tags: <%= raw post.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></td>
    <td><%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_user_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_user_post_path %>
